<h2>Edit: {{movie.name}}</h2>

<form action="/movies/update/{{movie._id}}" method="POST">
  <label>Title:</label>
  <input type="text" name="title" value="{{movie.title}}">

  <label>Genre:</label>
  <input type="text" name="genre" value="{{movie.genre}}">

  <label>Plot</label>
  <input type="text" name="plot" value="{{movie.plot}}">

  <button>Submit</button>
</form>

<a href="/movies/details/{{movie._id}}">Cancel</a>